body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: rgb(238, 238, 238);
}

#barra_menu {
    position: relative;
}


#menu_nav {
    display: none; 
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list li {
    margin: 10px 0;
}

#menu_icon {
    cursor: pointer;
}
.col-1 {
    position: relative;
}
.abrir-menu {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}
.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
    display: none; /* Oculto por defecto */
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}
.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
}
.nav-list li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: block;
}
.nav-list li a:hover {
    background-color: #f1f1f1;
}
.cerrar-menu {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}
.nav.show {
    display: flex;
    z-index: 9999; /* Asegurarse de que se muestre encima de otros elementos */
}



/*Barra de búsqueda*/
#barra_buscar {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 5px 10px;
    width: 600px;
    background-color: white;
}

#barra_buscar input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 5px;
}

#barra_buscar button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

#barra_buscar button img {
    width: 25px;
    height: 25px;
}

#barra_buscar input[type="text"]::placeholder {
    color: #aaa;
    font-size: 1.1rem;
}

#barra_buscar button:hover {
    opacity: 0.8;
}

#pedido img{
    width: 30px;
}
.numero-articulos {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
}
#menu_nav {
    display: none;
}

#menu_nav.active {
    display: block;
}